<!-- templates/landing.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FinTrack</title>
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist+Pixel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<section class="hero-section">
    <h1 class="logo">FinTrack</h1>
    <div class="padding"></div>
    <div class="hero">
        <p class="eyebrow">A ledger for the rest of us</p>
        <h1>Know what<br>happened to<br><span class="ink-underline">your money.</span></h1>
        <p class="hero-sub">
            Log income and expenses, set category budgets, <br>and watch the
            numbers add up.
        </p>
    </div>
</section>

<section class="form-section">

    <div class="card login-card" id="loginSection">
        <h3>Welcome back</h3>
        <p>Don't have an account? <a href="#" id="showSignup">Create an account now.</a></p>
        <form id="loginForm" novalidate class="login-form-margin">
            <div class="input-group login-margin">
                <input type="text" name="user_name" id="loginUserName" placeholder=" " required autocomplete="username">
                <label for="loginUserName">USERNAME</label>
                <span id="loginUserNameError" class="error"></span>
            </div>

            <div class="input-group login-margin">
                <input type="password" name="password" id="loginPassword" placeholder=" " required>
                <label for="loginPassword">PASSWORD</label>
                <span id="loginPasswordError" class="error"></span>
            </div>

            <div class="btn-div">
                <span id="loginError" class="submit-error"></span>
                <button type="submit" class="create-account-btn login-btn">Login &rarr;</button>
            </div>
        </form>
    </div>

    <div class="card hidden" id="signupSection">
        <h3>Create Account</h3>
        <p>Already have an account? <a href="#" id="showLogin">Log in now.</a></p>
        <form id="signupForm" novalidate class="signup-form">
            <div class="full-name">
                <div class="input-group with-lastname">
                    <input type="text" name="first_name" id="firstName" placeholder=" " required autocomplete="given-name">
                    <label for="firstName">FIRST NAME</label>
                    <span id="firstNameError" class="error"></span>
                </div>
                <div class="input-group with-lastname">
                    <input type="text" name="last_name" id="lastName" placeholder=" " required autocomplete="family-name">
                    <label for="lastName">LAST NAME</label>
                    <span id="lastNameError" class="error"></span>
                </div>
            </div>

            <div class="input-group">
                <input type="text" name="user_name" id="signupUserName" placeholder=" " required autocomplete="username">
                <label for="signupUserName">USERNAME</label>
                <span id="signupUserNameError" class="error"></span>
            </div>

            <div class="input-group">
                <input type="email" name="email" id="email" placeholder=" " required autocomplete="email">
                <label for="email">EMAIL ADDRESS</label>
                <span id="emailError" class="error"></span>
            </div>

            <div class="input-group">
                <input type="password" name="password" id="signupPassword" placeholder=" " required>
                <label for="signupPassword">PASSWORD</label>
                <span id="signupPasswordError" class="error"></span>
            </div>

            <ul id="passwordCriteria" class="password-criteria hidden">
                <li id="reqLength" class="invalid">At least 8 characters</li>
                <li id="reqUpper" class="invalid">One uppercase letter</li>
                <li id="reqLower" class="invalid">One lowercase letter</li>
                <li id="reqSpecial" class="invalid">One special character</li>
            </ul>

            <div class="input-group">
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder=" " required>
                <label for="confirmPassword">CONFIRM PASSWORD</label>
                <span id="confirmPasswordError" class="error"></span>
            </div>

            <div class="btn-div">
                <span id="signUpError" class="submit-error"></span>
                <button type="submit" class="create-account-btn">Create Account &rarr;</button>
            </div>
        </form>
    </div>
</section>

<script src="{% static 'js/landing.js' %}"></script>
<script src="{% static 'js/auth.js' %}"></script>
</body>
</html>